---
layout: default
title: Tags
permalink: /tags
---

<h1>Posts by Tag</h1>

{% capture tags %}
{% for tag in site.tags %}
{{ tag[0] }}
{% endfor %}
{% endcapture %}
{% assign sorted_tags = tags | split: ' ' | sort %}

<div class="tag-cloud">
    {% for tag in sorted_tags %}
    <a href="#{{ tag }}" style="margin-right: 15px; font-weight: bold;">{{ tag }} ({{ site.tags[tag] | size }})</a>
    {% endfor %}
</div>

<hr>

{% for tag in sorted_tags %}
<h2 id="{{ tag }}">{{ tag }}</h2>
<ul class="posts">
    {% for post in site.tags[tag] %}
    <li>
        <span>{{ post.date | date_to_string }}</span> &raquo;
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endfor %}